/**************************************************************************/
/*                                                                        */
/* Alertes                                                                */
/*                                                                        */
/**************************************************************************/

#messages.alert {
    margin-bottom: 0;
    background: rgba(255, 105, 180, 0.8);
    color: #fff;
    border-radius: 0;
    border-width: 0;
}

#debug.alert {
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0;
    border-width: 0;
    word-break: break-all;
}
/**************************************************************************/
/*                                                                        */
/* Général                                                                */
/*                                                                        */
/**************************************************************************/

#rewards {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    margin-bottom: 20px;
}

#rewards table {
    margin-bottom: 0;
}

#rewards th {
    border-bottom-color: rgba(255, 105, 180, 0.1);
    border-bottom-width: 1px;
    text-align: center;
    color: rgba(255, 105, 180, 0.8);
}

#rewards th:first-child {
    width: 100px;
}

#rewards th:first-child {
    text-align: left;
}

#rewards td {
    text-align: center;
    border-top: 1px solid rgba(255, 105, 180, 0.1);
}
/**************************************************************************/
/*                                                                        */
/* Princesses                                                                */
/*                                                                        */
/**************************************************************************/

#rewards .princess {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url(../img/princesses.jpg);
    background-size: 270px 270px
}

#rewards #row1 .princess {
    background-position: top right;
}

#rewards #row2 .princess {
    background-position: center right;
}

#rewards #row3 .princess {
    background-position: center center;
}

#rewards #row4 .princess {
    background-position: center left;
}

#rewards #row5 .princess {
    background-position: bottom right;
}

#rewards #row6 .princess {
    background-position: top center;
}

#rewards #row7 .princess {
    background-position: bottom left;
}
/**************************************************************************/
/*                                                                        */
/* Stickers                                                                */
/*                                                                        */
/**************************************************************************/

#rewards .table input[type=checkbox] {
    display: none;
}

#rewards .table input[type=checkbox] + label {
    position: relative;
    background: url('../img/dust.png') no-repeat;
    background-size: 270px 270px;
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 50%;
    transition: opacity 0.4s;
    cursor: pointer;
    opacity: 0.2;
    margin: 0 auto;
}

#rewards .table input[type=checkbox] + label i {
    position: relative;
    background-size: 270px 270px;
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 50%;
    transition: opacity 2s;
    cursor: pointer;
    opacity: 0;
    margin: 0 auto;
}

#rewards .table input.on[type=checkbox] + label i {
    opacity: 1;
}

#rewards .table input[type=checkbox] + label:hover,
#rewards .table input.on[type=checkbox] + label {
    opacity: 1;
}

#rewards #row1 input[type=checkbox] + label {
    background-position: top center;
}

#rewards #row2 input[type=checkbox] + label {
    background-position: center left;
}

#rewards #row3 input[type=checkbox] + label {
    background-position: top right;
}

#rewards #row4 input[type=checkbox] + label {
    background-position: center center;
}

#rewards #row5 input[type=checkbox] + label {
    background-position: top left;
}

#rewards #row6 input[type=checkbox] + label {
    background-position: center right;
}

#rewards #row7 input[type=checkbox] + label {
    background-position: bottom left;
}
/* Images stickers */

#rewards #row1 input.on[type=checkbox] + label i {
    background-image: url(../img/blancheneige.jpg);
}

#rewards #row2 input.on[type=checkbox] + label i {
    background-image: url(../img/cendrillon.jpg);
}

#rewards #row3 input.on[type=checkbox] + label i {
    background-image: url(../img/raiponce.jpg);
}

#rewards #row4 input.on[type=checkbox] + label i {
    background-image: url(../img/frog.jpg);
}

#rewards #row5 input.on[type=checkbox] + label i {
    background-image: url(../img/aurore.jpg);
}

#rewards #row6 input.on[type=checkbox] + label i {
    background-image: url(../img/aurore.jpg);
}

#rewards #row7 input.on[type=checkbox] + label i {
    background-image: url(../img/aurore.jpg);
}

#rewards input.on.sticker1[type=checkbox] + label i {
    background-position: top left !important;
}

#rewards input.on.sticker2[type=checkbox] + label i {
    background-position: top center !important;
}

#rewards input.on.sticker3[type=checkbox] + label i {
    background-position: top right !important;
}

#rewards input.on.sticker4[type=checkbox] + label i {
    background-position: center left !important;
}

#rewards input.on.sticker5[type=checkbox] + label i {
    background-position: center center !important;
}

#rewards input.on.sticker6[type=checkbox] + label i {
    background-position: center center !important;
}

#rewards input.on.sticker7[type=checkbox] + label i {
    background-position: center center !important;
}
/**************************************************************************/
/*                                                                        */
/* Popover                                                                */
/*                                                                        */
/**************************************************************************/

#rewards .table .popover-title {
    background-color: pink;
    color: #fff;
    font-size: 28px;
    text-align: center;
}

#rewards .table .popover-content {
    background-color: #fff;
    color: pink;
    padding: 25px;
    text-align: center;
}
/**************************************************************************/
/*                                                                        */
/* Soumission                                                             */
/*                                                                        */
/**************************************************************************/

#form-submition {
    text-align: right;
    padding-bottom: 20px;
}

#form-submition .popover .popover-title {
    display: none;
}

#form-submition .popover .popover-content {
    padding: 5px;
}

#form-submition .popover .btn {
    text-align: left;
}