/**************************************************************************/
/*                                                                        */
/* Alertes                                                                */
/*                                                                        */
/**************************************************************************/
#messages.alert{
    margin-bottom: 0;
    background: rgba(255, 105, 180, 0.8);
    color: #fff;
    border-radius: 0;
    border-width: 0;
}

#debug.alert{
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0;
    border-width: 0;
    word-break: break-all;
}

/**************************************************************************/
/*                                                                        */
/* Général                                                                */
/*                                                                        */
/**************************************************************************/

#rewards {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    margin-bottom: 20px;
}

table{
    margin-bottom: 0;
}

th {
    border-bottom-color: rgba(255, 105, 180, 0.1);
    border-bottom-width: 1px;
    text-align: center;
    color: rgba(255, 105, 180, 0.8);
}


th:first-child {
    width: 100px;
}

th:first-child {
    text-align: left;
}

td{
    text-align: center;
    border-top: 1px solid rgba(255, 105, 180, 0.1);
}

/**************************************************************************/
/*                                                                        */
/* Princesses                                                                */
/*                                                                        */
/**************************************************************************/

.princess{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url(../img/princesses.jpg);
/*    background: url(http://dummyimage.com/400/ccc/fff.png);*/
    background-size: 270px 270px
}

#row1 .princess{
    background-position: top right;
}

#row2 .princess{
    background-position: center right;
}

#row3 .princess{
    background-position: center center;
}

#row4 .princess{
    background-position: center left;
}

#row5 .princess{
    background-position: bottom right;
}

#row6 .princess{
    background-position: top center;
}

#row7 .princess{
    background-position: bottom left;
}

/**************************************************************************/
/*                                                                        */
/* Stickers                                                                */
/*                                                                        */
/**************************************************************************/

.table input[type=checkbox] {
    display: none;
}

.table input[type=checkbox] + label {
    position: relative;
    background: url('../img/dust.png') no-repeat;
/*    background: url(http://dummyimage.com/400/ccc/fff.png);*/
    background-size: 270px 270px;
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 50%;
    transition: opacity 0.4s;
    cursor: pointer;
    opacity: 0.2;
    margin: 0 auto;
}

.table input[type=checkbox] + label i{
    position: relative;
/*    background: url(http://dummyimage.com/400/888/fff.png);*/
    background-size: 270px 270px;
    height: 90px;
    width: 90px;
    display: block;
    border-radius: 50%;
    transition: opacity 2s;
    cursor: pointer;
    opacity: 0;
    margin: 0 auto;
}

.table input.on[type=checkbox] + label i{
    opacity: 1;
}

.table input[type=checkbox] + label:hover,
.table input.on[type=checkbox] + label {
    opacity: 1;
}

#row1 input[type=checkbox] + label{
    background-position: top center;
}

#row2 input[type=checkbox] + label{
    background-position: center left;
}

#row3 input[type=checkbox] + label{
    background-position: top right;
}

#row4 input[type=checkbox] + label{
    background-position: center center;
}

#row5 input[type=checkbox] + label{
    background-position: top left;
}

#row6 input[type=checkbox] + label{
    background-position: center right;
}

#row7 input[type=checkbox] + label{
    background-position: bottom left;
}

/* Images stickers */

#row1 input.on[type=checkbox] + label i{
    background-image: url(../img/blancheneige.jpg);
/*    background-image: url(http://dummyimage.com/400/444/fff.png);*/
}

#row2 input.on[type=checkbox] + label i{
    background-image: url(../img/cendrillon.jpg);
/*    background-image: url(http://dummyimage.com/400/444/fff.png);*/
}

#row3 input.on[type=checkbox] + label i{
    background-image: url(../img/raiponce.jpg);
/*    background-image: url(http://dummyimage.com/400/444/fff.png);*/
}

#row4 input.on[type=checkbox] + label i{
    background-image: url(../img/frog.jpg);
/*    background-image: url(http://dummyimage.com/400/444/fff.png);*/
}

#row5 input.on[type=checkbox] + label i{
    background-image: url(../img/aurore.jpg);
/*    background-image: url(http://dummyimage.com/400/444/fff.png);*/
}

#row6 input.on[type=checkbox] + label i{
    background-image: url(../img/aurore.jpg);
/*    background-image: url(http://dummyimage.com/400/444/fff.png);*/
}

#row7 input.on[type=checkbox] + label i{
    background-image: url(../img/aurore.jpg);
/*    background-image: url(http://dummyimage.com/400/444/fff.png);*/
}

input.on.sticker1[type=checkbox] + label i{
    background-position: top left !important;
    
}
input.on.sticker2[type=checkbox] + label i{
    background-position: top center !important;
}
input.on.sticker3[type=checkbox] + label i{
    background-position: top right !important;
}
input.on.sticker4[type=checkbox] + label i{
    background-position: center left !important;
}
input.on.sticker5[type=checkbox] + label i{
    background-position: center center !important;
}
input.on.sticker6[type=checkbox] + label i{
    background-position: center center !important;
}
input.on.sticker7[type=checkbox] + label i{
    background-position: center center !important;
}

/**************************************************************************/
/*                                                                        */
/* Popover                                                                */
/*                                                                        */
/**************************************************************************/
.table .popover-title {
    background-color: pink;
    color: #fff;
    font-size: 28px;
    text-align:center;
}

.table .popover-content {
    background-color: #fff;
    color: pink;
    padding: 25px;
    text-align:center;
}

/**************************************************************************/
/*                                                                        */
/* Soumission                                                             */
/*                                                                        */
/**************************************************************************/

#form-submition{
    text-align: right;
    padding-bottom: 20px;
}

#form-submition .popover .popover-title{
    display: none;
}

#form-submition .popover .popover-content{
    padding: 5px;
}

#form-submition .popover .btn{
    text-align: left;
}